@import "compass";
@include global-reset;
@include reset-html5;

@import "custom/colors";
@import "custom/layout";
@import "base";
@import "partials";
@import "custom/styles";

.entry-content {
  p { clear:both; }
  img {
    margin-right: 15px;
    margin-bottom: 15px;
    float:left;
  }
}
